html,body,div,ul,li,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ol,form,input,textarea,th,td,select,span{margin:0;padding:0;font-family:Helvetica,Arial,Helvetica Neue !important;}
*{
    font-family:Helvetica,Arial,Helvetica Neue !important;
}
.container{
  padding: 12px 26px;
  background-color: #dfdfdf;
}
.container-panel{
  background-color: #fff;
  min-height: 100%;
  padding: 30px 23px;
  box-sizing: border-box;
}
.inputlogon{
  width: 546px;
  height: 52px;
  margin-bottom: 30px;
  box-sizing: border-box;
  position: relative;
 
  
   input{
    height: 52px !important;
    border-radius: 52px;
    background-color: rgba(241, 248, 253, 1);
    padding-left: 60px !important;
   
   }
    .el-input__prefix{
      // padding-left: 40px;
      left: 20px;
      top: 3px;
    }
  .el-input__icon{
    font-size: 16px !important;
    color: rgba(153, 153, 153, 1);
  }
  input::-webkit-input-placeholder {
    color: rgba(153, 153, 153, 1);
  }
  input::-moz-input-placeholder {
    color: rgba(153, 153, 153, 1);
  }
  input::-ms-input-placeholder {
    color: rgba(153, 153, 153, 1);
  }
  
}
.w120x{
  width: 120px;
}
.redIcon{
  color: #ef3e4a;
}
@mixin scrollerStyle () {
  &::-webkit-scrollbar {
    width:8px;background: #EAEAEA;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb{
    background:#c1c1c1;border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb:hover{
    background:#999999;border-radius: 4px;
  }
}
.niceScroller {
  @include scrollerStyle
}